<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.jspiders.beans.Address" id="address1" autowire-candidate="false">
		<property name="HouseNo" value="33" />
		<property name="City" value="Bhopal" />
		<property name="PinCode" value="462003" />
	</bean>


	<bean class="com.jspiders.beans.Address" id="address2">
		<property name="HouseNo" value="06" />
		<property name="City" value="Lidhora" />
		<property name="PinCode" value="472331" />
	</bean>


	<!-- If we use byType autowire, then it checks tha type of that bean should 
		have exactly same name as per it's Variable type -->
	<bean class="com.jspiders.beans.User" id="user1" autowire="byType">
		<property name="id" value="1001" />
		<property name="name" value="Mahesh" />
		<property name="email" value="mahesh@gmail.com" />
		<!-- <property name="address" ref="add1"/> --> <!-- It's Munual DI -->
	</bean>
</beans>
